---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import getUniqueTags from "@/utils/getUniqueTags";
import getPostsByTag from "@/utils/getPostsByTag";
import { getPath } from "@/utils/getPath";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = getUniqueTags(posts);

  return tags.map(({ tag, tagName }) => ({
    params: { tag, page: undefined },
    props: { tag, tagName, posts: getPostsByTag(posts, tag) },
  }));
}

const { tag, tagName, posts } = Astro.props;
---

<Layout title={`#${tagName}`}>
  <h1>#{tagName}</h1>
  <ul class="post-list">
    {posts.map(({ data, id, filePath }: any) => (
      <li>
        <time datetime={data.pubDatetime.toISOString()}>
          {data.pubDatetime.toLocaleDateString("en-US", {
            day: "2-digit",
            month: "short",
            year: "numeric",
          })}
        </time>
        <a href={getPath(id, filePath)}>{data.title}</a>
      </li>
    ))}
  </ul>
  <hr />
  <p><a href="/tags">&larr; All tags</a></p>
</Layout>
