---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import getUniqueTags from "@/utils/getUniqueTags";

const posts = await getCollection("blog");
const tags = getUniqueTags(posts);
---

<Layout title="Tags">
  <h1>Tags</h1>
  <ul>
    {tags.map(({ tag, tagName }) => (
      <li>
        <a href={`/tags/${tag}`}>#{tagName}</a>
      </li>
    ))}
  </ul>
</Layout>
