---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import getSortedPosts from "@/utils/getSortedPosts";
import { getPath } from "@/utils/getPath";

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);
---

<Layout title="Blog">
  <h1>Blog</h1>
  <ul class="post-list">
    {sortedPosts.map(({ data, id, filePath }) => (
      <li>
        <time datetime={data.pubDatetime.toISOString()}>
          {data.pubDatetime.toLocaleDateString("en-US", {
            day: "2-digit",
            month: "short",
            year: "numeric",
          })}
        </time>
        <a href={getPath(id, filePath)}>{data.title}</a>
      </li>
    ))}
  </ul>
</Layout>
